// --
// This file contains all application-wide Sass variables.
// ==

// regular font family
$font_primary: 'Roboto', 'Arial', sans-serif !default;
$font_secondary: 'Gilroy', 'Arial', sans-serif !default;

// colors

$color_base0: #000000;
$color_base1: #ffffff;
$color_shade20: #dddddd;
$color_shade40: #a9a9a9;
$color_shade50: #82786a;
$color_easy: #2fb65d;
$color_medium: #eb8a31;
$color_hard: #eb3c31;
$color_success: #2fb65d;
$color_error: #eb3c31;
$color_chip_icon: #c8c8c8;

$color_white: #ffffff;
$color_black: #000000;

// z-index
$z_index_menu: 100;
$z_index_tooltip: 125;
$z_index_modal: 150;
$z_index_error: 200;
$z_index_loader: 300;

// container
$width_container: 108.4rem;
$width_container_tablet: calc(100% - 4.8rem);
$width_container_mobile: calc(100% - 3.2rem);
$width_container_cramped: 48.6rem;

$margin_container_desktop: 4rem;
$margin_container_tablet: 4rem;

//header
$height_header: 60rem;
$height_header_scrolled: 32rem;

//borders
$border_radius_sm: 4px;
$border_radius_lg: 8px;

//transitions
$transition_duration: 250ms;
