@import 'src/assets/style/utils';

.message {
  &._error {
    color: $color_error;
  }

  &:not(:first-child) {
    margin-top: 1.6rem;
  }

  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  > * {
    &:not(:last-child) {
      margin-bottom: 0.6rem;
    }
  }

  p:not([class]),
  h1:not([class]),
  h2:not([class]),
  h3:not([class]),
  h4:not([class]) {
    margin: 0;
  }

  a:not([class]) {
    @include reset-link;
  }

  ul:not([class]),
  ol:not([class]) {
    @include reset-list;
  }
}
